
@model WebApp.Models.CADetailsViewModel

<p>Lista visite di: <strong>@Model.ClinicAnimal.Name</strong></p>

@if (Model.ClinicVisitList.Any())
{
	@foreach (var v in Model.ClinicVisitList.OrderByDescending(x=>x.VisitDate))
	{
	<p>@v.TreatmentDescription , @v.VisitDate</p>
	}
}
else
{
<div class="bg-warning text-danger">Nessuna Visita</div>	
}
