@using DataLayer;

@model IEnumerable<MunicipalAnimal>
@{
	var total = 0;

}
<a asp-controller="Municipal" asp-action="CreateMunAnimal" class="btn btn-primary">Create Municipal Animal</a>

@foreach(var a in Model){
	
	<div>
		<p>@a.Name</p>
		<img src="@Url.Action("GetImage", "Municipal", new { id=a.Id })"/>
	</div>
	<p>@Html.ActionLink("Nuova Visita", "NewMunicipalVisit", "Municipal",new { id = a.Id }, new { @class = "btn btn-warning" })</p>
	

}