@{
	ViewData["Title"] = "Home Page";
}
<div class="container w-100 text-center">

	<img class="indeximg" src="https://i.etsystatic.com/11963603/r/il/6b817c/2366460059/il_794xN.2366460059_av7q.jpg" />

</div>
